.main{
    background:url(../images/famous_bg.jpg);
    background-size: 100% 100%;
}
.main h1{
    text-align: center;
    padding: 40px 0px;
    font-size: 50px;
}
.box{
    display: flex;
    margin: 0px 150px;
}
.box1{
    flex: 1;
    margin: 0px 10px 30px 10px;
    border-radius: 5px;
    height: 720px; 
}
.box1 iframe{
    width: 370px;
    height: 300px;
    padding:10px;
    background-color: rgb(173, 135, 107,0.2);
}
.item{
    transition: 0.5s;
    height: 345px;
    overflow: hidden;
    background-color: white;
    position: relative;
}
.item:hover{
    height: 720px; 
}
.item:hover .miaoshu{
    opacity: 0;
}
.box1:hover  span,.box1:hover h3{
    opacity: 1;
}
.box h3{
    transition: 2s;
    opacity: 0;
    text-align: center;
    padding: 20px 0px;
}
.box1 span{
    transition: 2s;
    opacity: 0;
    display: block;
    padding: 10px 10px;
}
.description{
    text-align: center;
    font-size: 14px;
    opacity: 1;
    transition: 0.5s;
    padding: 5px 0;
    left:0;
    bottom: 0;
    position: absolute;
}